
body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}




h2{
    padding-top: 3%;
    font-family: 'Courier New', Courier, monospace;
}


#box {
    background: #ebebeb77;
    border-radius: 8px;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #f2eeee;
}
.navbar-brand {
    padding-top: 25px;
    padding-bottom: 40px;
    text-align: left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 22px;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

nav#header-nav {
    padding: 20px 12px;
    border-bottom: 1px solid #e4e4e4;
}

.navbar-brand {
    height: auto !important;
    padding: 0px !important;
}

.navToggleBarMenu{
    margin-left: auto;
}

li.nav-item {
    border-top: 1px solid #eae8e8;
}



#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: #951C49;
    text-align: center;
}
#header-nav button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
    background-color: rgb(137, 169, 190);
}
.navbar-header button.navbar-toggle {
    
    margin-top: -33px;
}


#nav-list a:hover {
    background: #e7e7e7;
}
#nav-list a span {
    font-size: 1.8em;
}

#box h2 { 
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 20px;
}

/* END HEADER */

/* HOME PAGE */



#home-tiles .item-text p {
    font-size: 14px;
    padding-top: 10px;
    line-height: 18px;
    color: #474747;
    font-weight: 400;
}

/* END OF HOME PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {
   

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
   

    
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    /* Header */
   
    
    
    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }
}

